.__Button__ {
  padding: 5px 20px;
  outline: none;
  border: none;
  font-size: 20px;
  border-radius: 5px;
  background-color: rgb(17, 121, 219);
  color: #fff;
  user-select: none;
  cursor: pointer;
  transition: 0.3s;
}

.__Outlined__ {
  background-color: #fff;
  color: rgb(17, 121, 219);
  border: 1px solid rgb(17, 121, 219);
}
